<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    ul {
      list-style: none;
    }
  </style>
</head>
<body>
  <div>
    <div>
      <span>기획</span>
      <ul id="planList"> 
      </ul>
    </div>
    <div>
      <span>디자인</span>
      <ul id="designList"> 
      </ul>
    </div>
    <div>
      <span>퍼블리싱</span>
      <ul id="publishList"> 
      </ul>
    </div>
  </div>
  <script src="lib/axios.min.js"></script>
  <script src="js/test.js"></script>
</body>
</html>